<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tugas VueJs 1</title>
    <hr>
        <p><strong>Simple Comment & Vote Systems</strong></p>
    <hr>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
</head>
<body>
    <div id="app">
        <ul>
            <comments v-for="comment in datacomments" v-bind:comment="comment"></comments>
        </ul>

        <textarea v-model="commenttxt" placeholder="Tulis Komentar..." v-on:keyup.enter="postComment" cols="60" rows="10"></textarea>
    </div>

    <template id="comments-template">
        <div>
            <button v-on:click="plusMethod" v-bind:style="plusClicked ? { 'background-color': '#a6c8ff' } : null" >+</button>
            <div>{{ comment.body }} || {{ comment.date }} || Score : {{ computedscore }} </div>
            <button v-on:click="minusMethod" v-bind:style="minusClicked ? { 'background-color': '#ffb0a6' } : null" >-</button>
            <br> <br>
        </div>
    </template>


    <script src="indexscr.js"></script>
</body>
</html>